<!Doctype HTML>
%meta{:charset => "utf-8"}
	%html
	%title OZE & CO
	%head  
		%link{:href => "css/foundation.css", :rel => "stylesheet"}
		%link{:href => "css/stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
		%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
	%body
		.row
			.small-2.large-2.medium-2.columns
				.offer-list
					1
				.offer-list
					2
				.offer-list
					3
				.offer-list
					4
				.offer-list
					5
				.offer-list
					6
				.offer-list
					7
				.offer-list
					8
			.small-8.large-8.medium-8.columns.offer
				%h1 #BrandDesign
				%h3
					Sans cohérence, pas de performance.
				%h1
					OZE & CO
				%h3
					Sans cohérence, pas de performance.
				%h1
					OZE & CO
				%h3
					Sans cohérence, pas de performance.
				%h1
					OZE & CO
				%h3
					Sans cohérence, pas de performance.
				%h1
					OZE & CO
				%h3
					Sans cohérence, pas de performance.
				%h1
					OZE & CO
				%h3
					Sans cohérence, pas de performance.
				%h1
					OZE & CO
				%h3
					Sans cohérence, pas de performance.
				%h1
					OZE & CO
				%h3
					Sans cohérence, pas de performance.
			.small-2.large-2.medium-2.columns
				.offer-list
					1
				.offer-list
					2
				.offer-list
					3
				.offer-list
					4
				.offer-list
					5
				.offer-list
					6
				.offer-list
					7
				.offer-list
					8


